* {
  box-sizing: border-box;
}

header {
  display: inline;
}

.header-background {
  font-size: 20px;
  padding: 60px;
  background-color: #821131;
  text-align: center;
  color: white;
  background-image: url("/assets/image/Header\ Background.jpg"); 
  background-size: cover; 
  background-repeat: no-repeat; 
}

nav {
  background-color: #691029;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 10;
  align-items: center;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

nav a:hover {
  font-weight: bold;
}

main {
  padding: 20px;
  overflow: auto;
  display: flex; 
  flex-direction: row; 
}

body {
  font-family: 'Kanit', sans-serif;
  color: white; 
  margin: 0;
  padding: 0;
  background-color: #0F0F0F;
  text-align: justify;
}

#content {
  flex: 2; 
}

article {
  background-color: #151515;
}

h1,h2,h3 {
  color: #ffffff;
  text-indent: 0.4em;
}

.profile img,header {
  max-width: 200px;
  text-align: center;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.slide {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide.active {
  display: flex;
}

.image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

img {
  border-radius: 10px;
}

aside {
  flex: 1;
  padding-left: 20px;
}

th, td {
  padding: 5px;
  text-align: left;
}

footer {
  padding: 20px;
  color: white;
  background-color: #821131;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  main {
    flex-direction: column; 
  }

  #content,
  aside {
    width: 100%;
    padding: 0;
  }

  .image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
  }
  

  @media screen and (max-width: 768px) {
    .header-background {
      padding: 30px; 
    }
  
  }

  @media screen and (max-width: 480px) {
    .header-background {
      padding: 20px;
    }
  
    .card {
      padding: 15px;
    }
  
    .image {
      max-height: 200px;
    }
  
    aside {
      padding-left: 0;
    }
  }

}